    <header class="header">
      <nav class="nav">
        <ul class="header_menu">
          <li class="nav-link">TEAM:<%= current_user.name %></li>
          <li class="header_menu_title"><%= link_to "BOMBERMAN", root_path, class: "nav-link" %></li>
          <li>
            <ul class="header_menu_inner">
              <li>
                <%= link_to "https://mobile.twitter.com/jnpi022bb", class: "nav-link" do %>
                  <span class="mr-1"></span>
                  <i class="fas fa-dove"></i>
                <% end %>
              </li>
              <li>        </li>
              <li>
                <%= link_to new_list_path class: "nav-link" do %>
                  <span class="mr-1">リストを作成</span>
                  <i class="fas fa-edit"></i>
                <% end %>
              </li>
              <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <P></P>